---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        将军的恩情还不完。 
    </p>
    <p>
    南下！
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://www.bilibili.com/video/BV1EfmKYkEC5/" theme_mode="light"></gradio-app>

<gradio-app src="https://https://www.bilibili.com/video/BV1Ww2rY2ECi/?spm_id_from=333.788.recommend_more_video.17&vd_source=42b682de11af1a483b1a324a8e48f6c9" theme_mode="light"></gradio-app>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilibili Video</title>
</head>
<body>
    <h1>观看视频</h1>
    <iframe src="//player.bilibili.com/player.html?bvid=BV1EfmKYkEC5&page=1" 
            width="800" height="600" frameborder="0" allowfullscreen>
    </iframe>
</body>
</html>

